<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56c87390-f535-47d9-9567-163bba72f572" Alias="Video - Gumlet Video - Gumlet Sync" Level="1">
  <Info>
    <Name>Video - Gumlet Video - Gumlet Sync</Name>
    <EditorAlias>uGum.Sync</EditorAlias>
    <EditorUIAlias>uGum.PropertyEditorUi.GumletSync</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uploadPropertyAlias": "umbracoFile"
}]]></Config>
</DataType>
